* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold !important;

}

#container {
  background-color: rgb(145, 116, 79);
  padding: 0;
  margin: 20px auto;
  border: 5px solid #ccc;
  box-shadow: 5px 5px 2px black;
}

#container h1{
  font-size: 3rem;
  color: whitesmoke;
  
}

body {
  overflow-y: scroll;
  background: linear-gradient(to bottom right, #996633 24%, #663300 100%);
  font-size: 100%;
  width: 96%;
  max-width: 1200px;
  margin: 15px auto !important; 
}

header {
  width: 100%;
}

header h1 {
  font-size: 2em;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
}

nav {
  font-size: 1em;
  background-color: rgb(145, 116, 79);
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

nav ol {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ol li {
  display: block;
  text-align: center;
  background-color: rgb(72, 51, 23);
  width: 25%;
  font-weight: bold;
}

nav ol li a {
  text-decoration: none;
  color: white;
  padding: 1em;
  display: block;
}

nav ol li a:hover {
  background-color: beige;
  color: rgb(72, 51, 23);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#mainPicture {
  display: inline-block;
  margin: 0 auto;

}


#mainPicture img {
  width: 100%;
}

main {
  background-color: tan;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  border-radius: 15px;
}

aside {
  width: 100%;
  background-color: rgb(145, 116, 79);
  text-align: center;
  padding: 15px;
}

aside h2 {
  width: 100%;
  color: #FFFAFA;
}

footer {
  background-color: rgb(72, 51, 23) !important;
  text-align: center;
  font-size: 1em;
  max-width: 1200px;
  color: rgb(171, 165, 165);
  border-top: 3px solid black;
}

footer h3, footer h5{
  font-size: 1em;
}

#social{
  background-color: rgb(72, 51, 23);
border: 0;
}
#social img {
  height: 40px !important;
  width: 40px !important;
}


#quickNavigation {
  width: 100%;
  margin: 0 auto;
  display: flex;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#quickNavigation ul {
  width: 100%;
  list-style-type: none;
}

#quickNavigation ul li {
  width: 100%;
  background-color: rgb(181, 135, 75);
  border-bottom: 2px solid black;
}

#quickNavigation a {
  font-size: 1em;
  display: block;
  padding: 0.5em;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
}

#quickNavigation a:hover {
  background-color: tan;
}

#meats {
  display: flex;
}

#meats img {
  height: auto;
  width: 12.5%;
  float: left;
  border-bottom: 2px solid black;
}

#Fish {
  display: flex;
}

#Fish img {
  height: auto;
  width: 12.5%;
  float: left;
  border-bottom: 2px solid black;
}

#menu1 h2,
#menu1 h5 {
  background-color: #c83349;
  color: whitesmoke;

}

#menu1 {
  width: 100%;
  text-align: center;
}

#menu1 table,
#menu2 table,
#restaurantMenu table {
  text-align: center;
  width: 100%;
  height: auto;
  font-size: 1em;
  border-collapse: collapse;
}


#menu1 table th {
  text-align: center;
  width: 25%;
  background-color: #e06377;
  border-right: 2px solid rgb(127, 81, 81);
}

#menu1 table td {
  background-color: #eeac99;
  border-right: 2px solid rgb(127, 81, 81);
  border-top: 2px solid rgb(127, 81, 81);
}

#menu2 table th {
  text-align: center;
  width: 25%;
  background: linear-gradient(to right, #993300 0%, #cc3300 100%);
  border-right: 2px solid rgb(127, 81, 81);
}



#menu3 {
  width: 100%;
  text-align: center;

}


#menu3 h2,
#menu3 h5 {
  background-color: #667292;
  color: whitesmoke;
}

#menu3 table,
#menu4 table {
  text-align: center;
  width: 100%;
  height: auto;
  font-size: 1em;
  border-collapse: collapse;
  background-color: rgb(145, 116, 79);
}

#menu3 table th {
  text-align: center;
  width: 25%;
  background-color: #8d9db6;
  border-right: 2px solid rgb(126, 126, 160);
}

#menu3 table td {
  background-color: #bccad6;
  border-right: 2px solid rgb(126, 126, 160);
  border-top: 2px solid rgb(126, 126, 160);
}

#menu4 {
  background-color: blueviolet;
  text-align: center;
  width: 100%;
}

#menu4 table th {
  background-color: rgb(49, 49, 155);
  width: 25%;
  text-align: center;
  border-right: 2px solid rgb(126, 126, 160);
}

#menu4 table td {
  background-color: azure;
  border-right: 2px solid rgb(126, 126, 160);
  border-top: 2px solid rgb(126, 126, 160);
}

#restaurantMenu,
#restaurantMenu h2,
#restaurantMenu h3 {
  width: 100%;

}

#restaurantMenu h2,
#restaurantMenu h5 {
  background-color: #663300;
  color: whitesmoke;
}

#restaurantMenu h3 {
  background-color: #674d3c;
  font-weight: bold;
}

#restaurantMenu table th {
  background-color: #a2836e;
  text-align: center;
  border-right: 2px solid rgb(126, 126, 160);
  font-weight: bold;
  color: #fff2df;

}

#restaurantMenu h3 {
  color: whitesmoke;
  text-align: center;
  font-weight: bold;

}

#restaurantMenu table td {
  background-color: #d9ad7c;
  border-right: 2px solid rgb(126, 126, 160);
  border-top: 2px solid rgb(126, 126, 160);
  font-size: 1em;
  font-weight: bold;

}

#locations {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  font-size: 1em;
}

.gallery {
  width: 100%;
}

.gallery img {
  width: 100%;
  height: 20em;
  border-right: 2px solid burlywood;
  object-fit: cover;
}

.gallery .desc {
  background-color: rgb(145, 116, 79);
  color: whitesmoke;
  width: 100%;
  font-size: 1em;
  border-right: 2px solid black;
}

#order {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  font-size: 1em;
}



.carriers {
  width: 100%;
}

.carriers img {
  height: 80px;
  width: 80px;
  margin: 15px auto;

}

.carriers .orderInfo {
  background-color: rgb(145, 116, 79);
  color: whitesmoke;
  width: 100%;
  font-size: 1em;
  border-right: 2px solid black;
}

#formContainer {
  padding: 0;
  margin: 0 auto;
  border: 2px solid black;
  width: 100%;
  background-color: #a2836e;
  border: 3px solid black;
}

#formContainer h2 {
  background-color: #a2836e;

  color: whitesmoke;
}


.questions {
  background-color: #674d3c;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  font-size: 1em !important;
  padding: 5px;
  width: 100%;
  color: whitesmoke;
}

.carriers {
  background-color: rgb(181, 135, 75);
}

.accordion{
  font-size: 1em;
  padding-top: 15px;
  padding: 10px;
}

.accordion-button{
  background-color: rgb(166, 128, 82) !important;
  font-weight: bold;
  color: white;
}

.accordion-header{
  font-weight: bold;
  color: white;
}

.card-body { 
  background-color: rgb(72, 51, 23); 
}
.card-text {
  color: #c0c0c0; 
}

.text-muted {
  color: #c0c0c0; 
}

.card-body .card-title{
  color: whitesmoke;
}

.card-text .text-muted{
  color: whitesmoke !important;
}

.accordion-button{
  font-size: 1em !important;
  color: whitesmoke !important;
}


/* Default: images take full width on small screens */
.carousel-image {
  width: 100%;
  height: auto;
}

/* On larger screens (desktops), make the images a little smaller */
@media (min-width: 768px) {
  .carousel-image {
    width: 80%;  /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto;
  }
}

/* On even larger screens (e.g., large desktops or TVs), further reduce the size */
@media (min-width: 1200px) {
  .carousel-image {
    width: 70%;  /* Adjust width as needed */
  }
}
